<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Event Details - {{ selectedDate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button ion-button full icon-left (click)="insert()">
    <ion-icon name="checkmark"></ion-icon> Add Time
  </button>

  <div *ngIf="!timeList.length">
    <ion-label>
      No data available
    </ion-label>
  </div>
  <ion-reorder-group *ngFor="let time of timeList" disabled="false">
    <ion-item>
      <ion-reorder slot="start"></ion-reorder>
      <ion-label>{{ time }}</ion-label>
      <ion-button color="light" slot="end">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button color="light" slot="end">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-reorder-group>
</ion-content>

<ion-footer>
  <ion-button expand="block" color="secondary" (click)="save()">
    Save
  </ion-button>
</ion-footer>
